@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Arima+Madurai&display=swap');
body {
   /** background-color:#b5b2ac; **/
    background-color: #a2b4b4;
}
/**Index Page**/
.nameTitle{
    
font-family: 'Amiri', serif;
font-weight: 400;
font-size: 40px;
line-height: 42px;
text-transform: uppercase;

color: #000000;
}

.occupationName{
    font-family: 'Amiri', serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 22px;
    /* text-transform: uppercase; */
}

/* .about-img{ */
    /* size: 100px; */
    /* max-width: 100%;
    width: 420px;
    height: auto; */
/* } */

/**Nav Bar**/
.navBar{
    background-color: #e4e4e2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: 2px 2px 5px #999999;
	z-index: 1;
    width: 100%;
    top:0;
    position: fixed;
    margin: auto;
    left: 0%;
	right: 0%;

}

.nav-item {
	color: #606b85d5;
    font-family: 'Amiri', serif;
	float: right;
	display: block;
	text-align: center;
	padding: 22px;
	text-decoration: none;
	font-size: 19px;
	font-weight: 300;
}

.nav-item:hover {
	color: #2a2d34;
	transition: 0.5s;
}


.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item::after {
    display:block;
    content: '';
    border-bottom: solid 2px #2a2d34;  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

 


#navName{
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .navBar {
     flex-direction: column;
    
    }
    .nav-item{
        font-size: 14px;
        padding: 0;
       
    }
    #navName{
        font-size: 20px;
    }
    .about-img{
       
        height: auto;
        width: auto;
    }
  }

.index{
display: grid;
place-items: center;
row-gap: 30px;
}
/* Type-Writer Effect */



.arrow{
    display: center;
	padding: 10px;
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
  	transition: 0.3s;
  	animation: bounce 3s infinite;
  	margin: 20px;
      width: 43px;
      height: 43px;
      cursor: pointer;
  /* position: relative;
  bottom: -2rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  cursor: pointer; */



  /**
   * Dark Arrow Down
   */
  background-image: url(https://cdn0.iconfinder.com/data/icons/outline-arrow/32/arrow23-512.png);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* About Me Section */

.about-me{
    display: block;
	text-align: center;
    margin: auto;
  
}

.about{
font-family: 'Amiri', serif;
font-weight: 20;
font-size: 38px;
line-height: 42px;
color: #606b85d5;
text-align: center;
}

.about-img{
    height: 450px;
    border: 2px solid #ccced0;
    border-radius: 5px;
    overflow-y:hidden;
	margin: 40px;
	margin-top: 80px;

}

.container{
    display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}
/* TERMINAL */

.terminal-window {
    text-align: left;
    width: 600px;
    height: 460px;
    border-radius: 10px;
    margin:auto;
    position: relative;
    top: 10px;

    box-shadow: 12px 12px 1px #a4a1a1;

  }
  
  .terminal-window header {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
  }
  
  .terminal-window header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
  }
  
  .terminal-window header .button.green {
    background: #3BB662;
  }
  
  .terminal-window header .button.yellow {
    background: #E5C30F;
  }
  
  .terminal-window header .button.red {
    background: #E75448;
  }
  
  .terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #4f5c68;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
  }

  
.header {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
  }
.console header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
  }

  .green {
    background: #3BB662;
  }
  
  .yellow {
    background: #E5C30F;
  }
  
  .red {
    background: #E75448;
  } */

   

ul { 
	margin: 0; 
	padding-left: 24px; 
}

.first-color {
	color: #ac78c2;
}
.second-color {
	color: #c5c8c6;
}

.third-color {
	color: #5888ca;
}

.fourth-color {
	color: #f0c674;
}

.fifth-color {
	color: #b5bd68;
}

/* EDUCATION SECTION */

#text .subtitle {
	margin-bottom:40px;
}

#education-section {
	padding:50px;
	padding-bottom: 80px;
	min-height:100vh;
	
}


#education-section * {
	font-family: 'Amiri', serif;
        font-weight: 100;
        font-size: 20px;
        color: #5e6061fb;
}

#education-section h1{
    font-family: 'Amiri', serif;
    font-weight: 70;
    font-size: 38px;
    line-height: 42px;
    color: #d8d9da;
}
#education-title img {
	width: 10%;
}

#school {
	align-items: center;
}

#school h2 {
	font-size: 32px;
}

#school h3{
	font-size: 23px;
}

#school p {
	font-size: 18px;
    font-weight: 70;
}

#school * {
	margin: 8px;
}

#coursework {
	align-items: flex-start;
	font-size: 120%;
}

li {
	margin: 5px;
}

ul {
	list-style-type: disc;
}

#progress {
	font-size: 90%;
}
.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}



/* EXPERIENCE SECTION */
.projects{
   
    justify-content: center;
	text-align: center;
    color: #d8d9da;
   
}
#proj-section{
    margin: 40px;
    
   
}
#myBtnContainer{
    justify-content: center;
	align-items: center;
}
.btn{
    border: none;
	outline: none;
	padding: 12px 16px;
	cursor: pointer;
	border-radius: 4px;
	margin: 4px;
	transition: 0.3s;
    background-color: #647070;
    color: rgb(225, 223, 223);
}
.btn:hover {
	background-color: #3e4646;
    color:  rgb(184, 181, 181);
    border-color: #3e4646;
}
/* .btn.active {
    border:#9aa1b1 ;
	color: white;
} */
.btn-alert{
    font-family: 'Lato', sans-serif;
    font-weight: 20;
    font-size: 15px;
    text-align: center;
}
.proj{

    position: relative;
	height: 320px;
	width: 330px;
	margin: 3%;
	display: none;
}
.show {
	display: block;
  }

.proj-img {
    width: 320px;
    height: 330px;
    border-radius: 9px;
  
}

.view{
    color: #e3e0e0;
}

.proj-description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    border-radius: 9px;
	background: #5f5e5ef4;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity .4s, visibility .4s;
}

.proj:hover .proj-description {
	visibility: visible;
	/* opacity: .9; */
    width: 320px;
    height: 330px;
}

.proj-description:hover {
	opacity: .7;
    width: 320px;
    height: 330px;
}


.img-description {
    /* transition: .5s; */
	color: #e3e0e0;
	text-align: center;
    height: 320px;
	width: 330px;
    
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 25px;
	padding-right: 25px;
}
.img-description i {
	font-size: 12px;
    font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-weight: 100;
}



.img-description h2, .img-description p, .img-description a {
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-weight: 100;

}
/* .img-description:hover {
	opacity: .7;
} */


/* CONTACT ME */
.contact-me{
    font-family: 'Lato', sans-serif;
    font-weight: 60;
    font-size: 27px;
    line-height: 42px;
    color: #f5f5f5;
    text-align: center;
    }
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #647070;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #a0c5c5;
  }
  
  /* Add a background color and some padding around the form */
  .containers {
    border-radius: 5px;
    background-color: #a2b4b4;
    padding: 120px;
  }

/* FOOTER */
.footer{
    display: block;
	text-align: center;
}

.footer p{
    font-family: 'Lato', sans-serif;
    font-weight: 50;
    size: 30px;
}
.socials{
    margin: auto;
}
.social{
    width: 40px;
    height: 40px;
    padding: 9px;
}